@import "_reset.css";

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Regular.ttf") format('truetype');
}

body {
  background-color: #172755;
  font-family: "Roboto", serif;
  letter-spacing: 1.2px;

}

.header-block {
  max-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;

  &__logo {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
  }

  &__title {
    color: #fff;
    margin-left: 10px;
    font-weight: 800;

  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__signInBtn {
    font-size: 16px;
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: #8794BA;
    cursor: pointer;
  }

  &__hamburgerBtn {
    background-color: transparent;
    color: #8794BA;
    border: none;
    cursor: pointer;
  }
}

.main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;



  &__mainPromo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    padding: 0 20px;
  }

  &__subtitle {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    align-items: center;
    line-height: 35px;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  &__description {
    font-size: 18px;
    color: #8794BA;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  &__orderBtn {
    text-decoration: none;
    border: none;
    font-size: 16px;
    background-color: rgba(239, 42, 130, 1);
    border-radius: 40px;
    color: #ffffff;
    width: 335px;
    height: 50px;
  }

  &__features {
    background-color: #F6F7FDFF;
    padding-top: 60px;


    .main-block__subtitle {
      color: rgba(23, 39, 85, 1);

    }

    .main-block__description {
      font-size: 14px;
      margin-bottom: 50px;
    }
  }

  &__featuresList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 40px;

  }

  &__featuresItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

  }

  &__featuresItemIcon {
    width: 60px;
    height: 60px;
    margin-right: 25px;
  }

  &__featuresItemTitle {
    color: rgba(23, 39, 85, 1);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__featuresItemDescription {
    color: rgba(135, 148, 186, 1);
    font-size: 14px;
  }

  &__screens {
    background-color: #F6F7FDFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    text-align: center;
    width: 100%;


    .main-block__subtitle {
      color: rgba(23, 39, 85, 1);
    }

    .main-block__description {
      font-size: 14px;
    }

  }

  &__screensList {
    margin-bottom: 80px;
  }

  &__pricePlans {
    background-color: #172755;

    .main-block__subtitle {
      color: #ffffff;
    }

  }


}

.splide__slide {
  background-color: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;

  .splide-title {
    font-size: 25px;
    color: rgba(23, 39, 85, 1);
    font-weight: 700;
    margin-bottom: 10px;
  }

  .orderBtn {
    text-decoration: none;
    border: none;
    font-size: 16px;
    background-color: rgba(239, 42, 130, 1);
    border-radius: 40px;
    color: #ffffff;
    width: 200px;
    height: 50px;
  }

  .splide-usersQty, .splide-perTime {
    color: rgba(135, 148, 186, 1);
    font-size: 13px;
    margin-bottom: 30px;
  }

  .splide-price {
    font-size: 50px;
    color: rgba(23, 39, 85, 1);
    font-weight: 700;
    margin-bottom: 30px;

  }


}

.footer-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:40px 20px;

  .footer-logo{
    display: flex;
    align-items: center;

    &__img{
      width: 30px;
      height: 30px;
    }
    &__title{
      color: #8794BA;
      margin-left: 10px;
      font-weight: 800;
    }
  }
  .footer-social{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
  }
}